#sensuba-scene {

	width: 100%;
}

.sensuba-gameboard {

	margin-top: -15vw;
	width: 100%;
	perspective: 1000px;
}

.sensuba-gameboard .sensuba-board {

	transform: rotateX(50deg);
	transform-style: preserve-3d;
	width: 90%;
    margin: 0 5%;
}

.sensuba-board, .sensuba-area, .sensuba-field, .sensuba-row {

	pointer-events: none;
}

.sensuba-field, .sensuba-gauge-wrapper {

	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 200px);
	margin-left: 100px;
	margin-right: -100px;
}

.sensuba-deck-wrapper, .sensuba-end-turn-wrapper {

	display: inline-block;
	vertical-align: middle;
	width: 200px;
	padding-left: 150px;
}

.sensuba-end-turn-wrapper .sensuba-end-turn {

	pointer-events: all;
}

.sensuba-deck {

	height: 10.75vw;
	width: 8.135vw;
	background: url("/game/back.png");
	background-size: 100%;
	box-shadow: -3px 5px 0px 0px #282a2d;
}

.sensuba-hand {

	width: 100%;
	display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 3vw;
    margin-bottom: 6vw;
    height: 10vw;
    position: relative;
}

.sensuba-area + .sensuba-hand {

    margin-top: -3vw;
	margin-bottom: 10vw;
    height: 0;
}

.sensuba-tile {

	display: inline-block;
	height: 10.75vw;
	width: 8.135vw;
	background-color: rgba(100, 100, 100, 0.1);
	margin: 0.4vw;
	position: relative;
}

.sensuba-tile-targetable {

	background-color: rgba(255, 0, 0, 0.1);
	pointer-events: all;
}

.sensuba-card-view {

	display: inline-block;
	font-size: 0.5vw;
	position: absolute;
	pointer-events: all;
	z-index: 100;
}

.sensuba-hand .sensuba-card-view {

	transform: rotateX(310deg);
	top: 0;
	left: calc(50% - 4.1vw);
}

.sensuba-tile .sensuba-card-view {

	/*float: left;*/
	top: 0;
	left: 0;
}

.sensuba-gauge-wrapper {

	min-height: 4.5em;
	width: 50vw;
	vertical-align: middle;
}

.sensuba-gauge-wrapper, .sensuba-end-turn-wrapper {

	transform: rotateX(310deg);
	transform-style: preserve-3d;
}

.sensuba-gauge-wrapper .gauge {

	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
}

.waiting-room {

	padding-top: 20vh;
	text-align: center;
}

.waiting-room .waiting-text {

	font-size: 1.2em;
}