#sensuba-scene {

	width: 100%;
}

#endgame-window {

  min-width: 28em;
  text-align: center;
}

#endgame-window .sensuba-card {

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 1em;
}

#endgame-window .btn {

  margin: 0.2em 0.5em;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}

.replay-button {

  background-color: white !important;
  color: black !important;
  border: solid black 2px !important;
  position: relative;
}

.replay-button:hover {

  background-color: black !important;
  color: white !important;
}

.replay-button::before {

  content: "Copied !";
  position: absolute;
  background-color: black;
  color: white;
  font-size: 0.7em;
  width: 7em;
  top: -1em;
  left: 1.15em;
  padding: 0.2em;
  border-radius: 2px;
  opacity: 0;
}

.replay-button.replay-copied::before {

  animation: replay-copied 1s 1;
}

@keyframes replay-copied {

  from { top: -1em; opacity: 1 }
  to { top: -3em; opacity: 0 }
}

.proceed-button {

  background-color: #900e1b !important;
  color: white !important;
  border: solid #900e1b 2px !important;
}

.proceed-button:hover {

  background-color: #3e1919 !important;
  color: white !important;
  border: solid #3e1919 2px !important;
}

#newturn-frame {

  display: none;
  position: fixed;
  width: 100vw;
  height: 20em;
  top: calc(50vh - 10em);
  left: 0;
  background: linear-gradient(90deg,transparent,#C0A0A0C0 20%,#C0A0A0C0 80%,transparent);
  pointer-events: none;
}

#newturn-frame.newturn-anim {

  display: block;
  left: 100vw;
  animation: newturn 2s 1 linear;
}

@keyframes newturn {
  0% { left: 100vw  }
  5% { left: 65vw  }
  10% { left: 40vw  }
  15% { left: 25vw  }
  20% { left: 15vw  }
  25% { left: 8vw  }
  30% { left: 4.5vw  }
  40% { left: 1.5vw  }
  60% { left: -1.5vw  }
  70% { left: -4.5vw  }
  75% { left: -8vw  }
  80% { left: -15vw  }
  85% { left: -25vw  }
  90% { left: -40vw  }
  95% { left: -65vw  }
  100% { left: -100vw  }
}

#newturn-frame .big-text {

  color: whitesmoke;
  font-size: 6.66em;
  margin-top: 1em;
}

.sensuba-gameboard {

	margin-top: calc(-10vw - 1em);
	width: 100%;
	perspective: 100vw;
}

.sensuba-gameboard .sensuba-board {

	transform: rotateX(50deg);
	transform-style: preserve-3d;
	width: 90%;
    margin: 0 5%;
}

.sensuba-board, .sensuba-area, .sensuba-field, .sensuba-row {

	pointer-events: none;
}

.sensuba-field, .sensuba-gauge-wrapper {

	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 200px);
	margin-left: 100px;
	margin-right: -100px;
}

.sensuba-deck-wrapper, .sensuba-end-turn-wrapper {

	display: inline-block;
	vertical-align: middle;
	padding-left: 150px;
}

.sensuba-deck-wrapper .sensuba-username-wrapper {

  position: relative;
  height: 0;
  margin-top: -2.5vw;
  font-weight: bold;
  font-size: 1.5vw;
  transform: translateZ(1px);
  color: white;
  max-width: 5em;
}

.sensuba-deck-wrapper .sensuba-username {

  text-shadow: 2px 2px 1px rgba(80, 80, 80, 0.8);
  max-width: 5em;
  overflow: hidden;
}

.sensuba-deck-wrapper .sensuba-username.sensuba-username-small {

  font-size: 1.2vw;
  max-width: 6.25em;
  margin-top: 0.2em;
}

.sensuba-deck-wrapper .sensuba-username.sensuba-username-extra-small {

  font-size: 1vw;
  max-width: 7.5em;
  margin-top: 0.4em;
  text-shadow: 1px 1px 1px rgba(80, 80, 80, 0.8);
}

.sensuba-end-turn-wrapper + .sensuba-area .sensuba-deck-wrapper {

  margin-top: calc(-2vw - 30px);
}

.sensuba-gems {

    display: inline-block;
    vertical-align: middle;
    width: 8.135vw;
    margin-left: -8.135vw;
    margin-top: calc(13.4vw + 28px);
    -moz-transform: rotateX(0deg) skewX(-13deg) !important;
    -webkit-transform: rotateX(310deg);
    -ms-transform: rotateX(310deg);
}

.sensuba-end-turn-wrapper + .sensuba-area .sensuba-gems {

    margin-top: calc(11.4vw - 14px);
}

.sensuba-gem {

    display: inline-block;
    width: calc(1vw + 4px);
    height: calc(1vw + 4px);
    margin-left: 4px;
    background-image: url('/game/gem.png');
    background-size: calc(1vw + 4px);
    animation: gemrotate 4s infinite alternate;
    filter: drop-shadow(2px 2px 2px #404040);
}

@keyframes gemrotate {
  from {transform: rotateZ(-20deg);}
  to {transform: rotateZ(20deg);}
}

.sensuba-end-turn-wrapper {

	width: 200px;
}

.sensuba-end-turn-wrapper .sensuba-end-turn {

	pointer-events: all;
}

.sensuba-deck {

  position: relative;
	height: 9.675vw;
	width: 7.3215vw;
	background: url("/game/back.png");
	background-size: 100%;
  pointer-events: all;
}

.sensuba-deck-size1 { box-shadow: -3px 5px 0px 0px #282a2d }
.sensuba-deck-size2 { box-shadow: -2px 4px 0px 0px #282a2d }
.sensuba-deck-size3 { box-shadow: -2px 3px 0px 0px #282a2d }
.sensuba-deck-size4 { box-shadow: -1px 2px 0px 0px #282a2d }
.sensuba-deck-size5 { box-shadow: -1px 1px 0px 0px #282a2d }
.sensuba-deck-size6 { box-shadow: 0px 0px 0px 0px #282a2d }
.sensuba-deck-size7 { background: none }

#deck-count-tooltip {
    position: absolute;
    z-index: 10;
    margin-top: -5em;
    display: none;
    min-height: 1em;
    padding: 0.4em 1em;
    background: white;
    filter: drop-shadow(2px 3px 2px #202020A0);
}

.fatigue-mark {

  position: absolute;
  border-radius: 50%;
  width: 8.135vw;
  height: 8.135vw;
  top: 1.3075vw;
  opacity: 0;
}

@keyframes fatigue-shift {

  0% { transform: translateZ(0) }
  20% { transform: translateZ(0) }
  25% { transform: translateZ(0.02em) }
  30% { transform: translateZ(0.06em) }
  35% { transform: translateZ(0.12em) }
  40% { transform: translateZ(0.2em) }
  45% { transform: translateZ(0.3em) }
  50% { transform: translateZ(0.42em) }
  55% { transform: translateZ(0.56em) }
  60% { transform: translateZ(0.72em) }
  65% { transform: translateZ(0.9em) }
  70% { transform: translateZ(1.1em) }
  75% { transform: translateZ(1.32em) }
  80% { transform: translateZ(1.56em) }
  85% { transform: translateZ(1.82em) }
  90% { transform: translateZ(2.1em) }
  95% { transform: translateZ(2.4em) }
  100% { transform: translateZ(2.72em) }
}

.sensuba-hand {

	width: 100%;
	display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 0vw;
    height: 10vw;
    position: relative;
    -moz-transform: rotateX(315deg) translateZ(2.5em);
}

.sensuba-area + .sensuba-hand {

    margin-top: -3vw;
	margin-bottom: 10vw;
    height: 0;
}

.sensuba-tile {

	display: inline-block;
	height: 9.675vw;
	width: 7.3215vw;
	background-color: rgba(100, 100, 100, 0.1);
	margin: 0.36vw;
	position: relative;
}

.sensuba-tile-targetable {

	background-color: rgba(255, 0, 0, 0.1);
	pointer-events: all;
}

.sensuba-card-view {

	display: inline-block;
	font-size: 0.45vw;
	position: absolute;
	pointer-events: all;
	z-index: 100;
}

.sensuba-hand .sensuba-card-view {

  -moz-transform: rotateX(0deg) !important;
  -webkit-transform: rotateX(310deg);
  -ms-transform: rotateX(310deg);
	top: 0;
	left: calc(50% - 3.7vw);
  opacity: 0.5;
}

.sensuba-area + .sensuba-hand .sensuba-card-view {

  opacity: initial;
  font-size: 0.5vw;
  left: calc(50% - 4.1vw);
}

.sensuba-tile .sensuba-card-view {

	/*float: left;*/
	top: 0;
	left: 0;
}

.sensuba-court {

	width: 80vw;
    position: relative;
    top: 0;
    z-index: 1000;
    -moz-transform: translateX(-18vw) rotateX(0deg) rotateZ(26deg) skewX(32deg) skewY(-20deg) scale(1.8) translateY(0.5vw) !important;
    -webkit-transform: rotateX(310deg) translateX(-8vw) translateY(-4vw) translateZ(30em);
    -ms-transform: rotateX(310deg) translateX(-8vw) translateY(-4vw) translateZ(30em);
    transform-style: preserve-3d;
}

.sensuba-gems + .sensuba-court {

    transform: rotateX(310deg) translateX(-10vw) translateY(-12vw) translateZ(30em);
}

.sensuba-gauge-wrapper {

	min-height: 4.5em;
	width: 50vw;
	vertical-align: middle;
}

.sensuba-gauge-wrapper, .sensuba-end-turn-wrapper {

	transform: rotateX(310deg);
	transform-style: preserve-3d;
}

.sensuba-gauge-wrapper .gauge {

	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
}

.waiting-room {

	padding-top: 20vh;
	text-align: center;
}

.waiting-room .waiting-text {

	font-size: 1.2em;
}

.sensuba-canvas {

	position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 200vh;
    z-index: 1001;
    pointer-events: none;
}








.sensuba-card-view .sensuba-card-effect .sensuba-card-effect-p {

  font-size: 1.3em;
}
.sensuba-card-view .sensuba-card-shield {

	width: 17em;
    height: 22em;
    overflow: hidden;
    margin: 0.4em;
    position: absolute;
    top: -1em;
    left: -1em;
    border-radius: 1em;
    background: rgba(255,255,255,0.34);
    box-shadow: inset 0px 0px 5em 0px rgba(224, 228, 11, 0.5), 0px 0px 2em 0px rgba(255,235,180,0.8);
	animation: shieldcolor 3s infinite alternate, shieldsize 2s infinite alternate;
}

@keyframes shieldcolor {
  from {background: rgba(255,255,255,0.34); box-shadow: inset 0px 0px 10em 0px rgba(244, 208, 7, 0.5), 0px 0px 2em 0px rgba(255,235,180,0.8); }
  to {background: rgba(240, 240, 200, 0.34); box-shadow: inset 0px 0px 10em 0px rgba(254, 188, 2, 0.5), 0px 0px 2em 0px rgba(255,235,180,0.8); }
}

@keyframes shieldsize {
  from {top: -1em; left: -1em; width: 17em; height: 22em; }
  to {top: -1.5em; left: -1.5em; width: 18em; height: 23em; }
}

.sensuba-card-view .sensuba-card-freeze {

	position: absolute;
	top: 0;
	left: 0;
}

.sensuba-card-view .sensuba-card-freeze::before, .sensuba-card-view .sensuba-card-freeze::after {

	content: "";
    position: absolute;
    background: rgba(147, 242, 255,0.34);
    box-shadow: inset 0px 0px 2em 0px rgba(180,235,255,0.4), 0px 0px 2em 0px rgba(180,235,255,0.4);
}

.sensuba-card-view .sensuba-card-freeze::before { animation: freeze1 3.5s infinite linear }

.sensuba-card-view .sensuba-card-freeze::after { background: rgba(97, 220, 245,0.34); animation: freeze2 3.5s infinite linear; animation-delay: 1s; }

@keyframes freeze1 {
  0% { transform: rotateZ(0deg); width: 0; height: 0; top: -1em; left: 0; }
  20% { transform: rotateZ(35deg); width: 10em; height: 10em; top: 1em; left: 1em; }
  50% { transform: rotateZ(85deg); width: 14em; height: 14em; top: 4em; left: 2em; }
  80% { transform: rotateZ(135deg); width: 10em; height: 10em; top: 9em; left: 8em; }
  100% { transform: rotateZ(170deg); width: 0; height: 0; top: 16em; left: 12em; }
}

@keyframes freeze2 {
  0% { transform: rotateZ(80deg); width: 0; height: 0; top: 18em; left: 0; }
  20% { transform: rotateZ(135deg); width: 10em; height: 10em; top: 15em; left: 1em; }
  50% { transform: rotateZ(200deg); width: 14em; height: 14em; top: 8em; left: 1em; }
  80% { transform: rotateZ(265deg); width: 10em; height: 10em; top: 6em; left: 6em; }
  100% { transform: rotateZ(320deg); width: 0; height: 0; top: 3em; left: 12em; }
}


.sensuba-card-view .sensuba-card-exalt {

  position: absolute;
  top: 0.4em;
  left: 0.4em;
  font-size: 1em;
  height: 20em;
  width: 15em;
  animation: exalt 7s infinite linear;
}

@keyframes exalt {
  0% { background: rgba(255, 255, 255, 0); box-shadow: 0px 0px 1em 0.4em rgba(225,225,225,0); }
  20% { background: rgba(255, 255, 255, 0.4); box-shadow: 0px 0px 1em 0.4em rgba(225,225,225,0.8); }
  50% { background: rgba(255, 255, 255, 0); box-shadow: 0px 0px 1em 0.4em rgba(225,225,225,0); }
  80% { background: rgba(205, 255, 255, 0.4); box-shadow: 0px 0px 1em 0.4em rgba(185,225,225,0.8); }
  100% { background: rgba(255, 255, 255, 0); box-shadow: 0px 0px 1em 0.4em rgba(225,225,225,0); }
}


.sensuba-card-view.firstturn {

  filter: brightness(0.85);
}

.sensuba-card-view.concealed {

  filter: grayscale(1);
  opacity: 0.5;
}

.sensuba-card-animmask {

  display: none;
  position: absolute;
  top: 0em;
  left: 0em;
  width: 15em;
  height: 20em;
  margin: 0.4em;
  transform: translateY(1px);
}

/*
.sensuba-card-view .sensuba-card-exapart {

  position: absolute;
  top: 0;
  left: 0;
}

.sensuba-card-view .sensuba-card-exapart::before, .sensuba-card-view .sensuba-card-exapart::after {

  content: "";
  position: absolute;
  background: radial-gradient(rgba(250, 250, 210, 0.6), rgba(250, 250, 210, 0));
  border-radius: 50%;
  box-shadow: 0px 0px 2em 0px rgba(195,225,255,0.4), 0px 0px 2em 0px rgba(190,225,255,0.4);
}

.sensuba-card-view .sensuba-card-exapart::before { animation: freeze1 3.5s infinite linear }

.sensuba-card-view .sensuba-card-exapart::after { background: radial-gradient(rgba(250, 250, 230, 0.6), rgba(250, 250, 230, 0)); animation: freeze2 3.5s infinite linear; animation-delay: 1s; }
*/


.sensuba-tile .sensuba-card-view.flying {

	animation: flying 2s infinite alternate;
}

@keyframes flying {
  from {transform: translateZ(2em)}
  to {transform: translateZ(0.5em)}
}

@keyframes exaltation {
  from {filter: contrast(1.5);}
  to {filter: contrast(2.5);}
}


.sensuba-card-view .sensuba-card-lethal {

    position: absolute;
    top: 0em;
    left: 0em;
}

.sensuba-card-view .sensuba-card-lethal::before {

  content: "";
  width: 20em;
    height: 20em;
    overflow: hidden;
    margin: 0.4em;
    position: absolute;
    top: 0em;
    left: -2.5em;
    background: url('./images/lethal.png');
    background-size: 100%;
    animation: lethalopacity 4s infinite, lethalsize 2s infinite alternate, lethalcolor 2s infinite alternate;
}

@keyframes lethalopacity {
  0% {opacity: 0;}
  16.6% {opacity: 0;}
  33.3% {opacity: 0.2;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes lethalsize {
  0% {width: 10em; height: 10em; top: 5em; left: 2.5em;}
  33.3% {width: 10em; height: 10em; top: 5em; left: 2.5em;}
  100% {width: 20em; height: 20em; top: 0em; left: -2.5em;}
}

@keyframes lethalcolor {
  0% {transform: grayscale(1)}
  33.3% {transform: grayscale(1)}
  100% {transform: grayscale(0)}
}



.sensuba-card-view .sensuba-card-initiative {

    animation: initiativetranslate 3s infinite alternate, initiativeopacity 2s infinite alternate;
    position: absolute;
    top: 0em;
    left: 0em;
}

.sensuba-card-view .sensuba-card-initiative::before {

  content: "";
  width: 20em;
    height: 20em;
    overflow: hidden;
    margin: 0.4em;
    position: absolute;
    top: 0em;
    left: -2.5em;
    background: url('./images/initiative.png');
    background-size: 100%;
    animation: initiativerotate 10s infinite linear;
}

@keyframes initiativerotate {
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(360deg);}
}

@keyframes initiativetranslate {
  from {transform: translateZ(0);}
  to {transform: translateZ(1em);}
}

@keyframes initiativeopacity {
  from {opacity: 0.2;}
  to {opacity: 0.35;}
}

.sensuba-card-view .sensuba-card-covers {

    animation: covertranslate 5s infinite alternate, coveropacity 7.5s infinite alternate;
    position: absolute;
    top: 17em;
    left: 0em;
    text-align: center;
    width: 15em;
}

.sensuba-card-view .sensuba-card-cover {

  content: "";
  display: inline-block;
  width: 4.5em;
    height: 5em;
    margin: 0.4em auto;
    background: url('./images/cover.png');
    background-size: 100%;
}

.sensuba-card-view .sensuba-card-cover.sensuba-card-cover-air {

  filter: sepia(1) hue-rotate(170deg);
}

@keyframes covertranslate {
  from {transform: translateZ(0);}
  to {transform: translateZ(0.6em);}
}

@keyframes coveropacity {
  from {opacity: 0.5;}
  to {opacity: 0.7;}
}

.sensuba-card-view.glazed {

}

.sensuba-card-view .sensuba-card-glaze {

    position: absolute;
    top: 0em;
    left: 0em;
    width: 15em;
    height: 20em;
    overflow: hidden;
    margin: 0.4em;
    opacity: 0.3;
}

.sensuba-card-view .sensuba-card-glaze::before {

    content: "";
    position: absolute;
    top: 0em;
    left: 0em;
    width: 30em;
    height: 20em;
    background: linear-gradient(145deg, #b1c7c7, #d8f2f2 35%, #d8f2f2 60%, #a6b9ba);
    filter: sepia(0.2);
    background-size: 100%;
    animation: glazetranslate 6s infinite alternate ease-in-out;
}

@keyframes glazetranslate {
  from {left: -15em;}
  to {left: 0em;}
}


.sensuba-card-view .sensuba-card-fury {

    position: absolute;
    top: 0em;
    left: 0em;
    width: 15em;
    height: 20em;
    overflow: hidden;
    margin: 0.4em;
}

.sensuba-card-view .sensuba-card-fury::before {

    content: "";
    position: absolute;
    top: 0em;
    left: 0em;
    width: 15em;
    height: 40em;
    background: linear-gradient(transparent, rgba(220, 0, 0, 0.3), transparent);
    background-size: 100%;
    animation: furytranslate 6s infinite alternate ease-in-out;
}

@keyframes furytranslate {
  from {top: -38em;}
  to {top: 18em;}
}

.sensuba-card-view .sensuba-card-silence {

	animation: silencetranslate 3s infinite alternate;
    position: absolute;
    top: 0em;
    left: 0em;
}

.sensuba-card-view .sensuba-card-silence::before {

	content: "";
	width: 20em;
    height: 20em;
    overflow: hidden;
    margin: 0.4em;
    position: absolute;
    top: 0em;
    left: -2.5em;
    background: url('./images/silence.png');
    background-size: 100%;
    animation: silencerotate 10s infinite linear;
}

.sensuba-card-view .sensuba-card-silence::after {

	content: "";
	width: 11em;
    height: 11em;
    overflow: hidden;
    margin: 0.4em;
    position: absolute;
    top: 4.5em;
    left: 2em;
    transform: translateZ(0.5em);
    background: url('./images/silence.png');
    background-size: 100%;
    animation: silencerotate 10s infinite linear reverse;
}

@keyframes silencerotate {
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(360deg);}
}

@keyframes silencetranslate {
  from {transform: translateZ(0);}
  to {transform: translateZ(1em);}
}

#room-page #img-preview-tooltip, #replay-page #img-preview-tooltip {

  font-size: 3vh;
}

#screen-anim {

  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  top: 0;
  left: 0;
}

#screen-anim .screen-anim-inner {

  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}