.dark-theme {

	background-color: #36393F;
	color: #d7dadd;
}

.dark-theme .h1, .dark-theme .h2, .dark-theme .h3, .dark-theme .h4, .dark-theme .h5, .dark-theme .h6,
.dark-theme h1, .dark-theme h2, .dark-theme h3, .dark-theme h4, .dark-theme h5, .dark-theme h6 {

	color: #d7dadd;
}

.dark-theme .loader .lds-ripple div {

	border-color: #c4e2ff;
}

.dark-theme .loader .lds-ring div {

	border-color: #989ca0;
}

.dark-theme .lightbox-container .lightbox-inner .lightbox {

	background-color: #36393F;
	color: #d7dadd;
}

.dark-theme .sensuba-card {

	color: initial;
}

.dark-theme .sensuba-card-search input, .dark-theme .sensuba-card-search select, .dark-theme .sensuba-card-search input:focus, .dark-theme .sensuba-card-search select:focus {

	color: white;
}

.dark-theme .room-vs-wrapper {

	background: black;
}

.dark-theme .colors-group #neutral-mana + label, .dark-theme .colors-group #neutral-mana-2 + label { background-color: rgba(133, 167, 193, 0.2) }
.dark-theme .colors-group #white-mana + label, .dark-theme .colors-group #white-mana-2 + label { background-color: rgba(232, 209, 97, 0.2) }
.dark-theme .colors-group #red-mana + label, .dark-theme .colors-group #red-mana-2 + label { background-color: rgba(247, 69, 69, 0.2) }
.dark-theme .colors-group #blue-mana + label, .dark-theme .colors-group #blue-mana-2 + label { background-color: rgba(17, 150, 216, 0.2) }
.dark-theme .colors-group #green-mana + label, .dark-theme .colors-group #green-mana-2 + label { background-color: rgba(142, 197, 102, 0.2) }
.dark-theme .colors-group #black-mana + label, .dark-theme .colors-group #black-mana-2 + label { background-color: rgba(80, 26, 53, 0.2) }

.dark-theme .editor-menu {

    border-color: rgba(0, 0, 0, 0.4);
}

.dark-theme .editor-menu-tabs {

    background-color: #1F1F1F;
    border-color: rgba(0, 0, 0, 0.4);
}

.dark-theme .editor-menu-tabs input + label {

    color: white;
}

.dark-theme .editor-menu-tabs input:checked + label {

    background-color: #484848;
    color: white;
}

.dark-theme #blueprint-tooltip #blueprint-tooltip-description {

	background: #36393f;
}

.dark-theme .form-control {

	background-color: #36383a;
	border-color: #969ba0;
	color: #d7dadd;
}

.dark-theme .form-control:focus {

	background-color: #36383a;
	color: white;
}

.dark-theme .sensuba-deckbuilder-search .sensuba-deckbuilder-search-input, .dark-theme .sensuba-deckbuilder-search .sensuba-deckbuilder-search-input:focus {

	background: #36383a;
}

.dark-theme .sensuba-deckbuilder {

	background: linear-gradient(150deg,#07214020,#350b0a20);
    background-size: 400% 400%;
}

.dark-theme .blueprint-menu .blueprint-nav {

	background-color: #2F3136;
}

.dark-theme .blueprint-menu .blueprint-tool {

	background-color: black;
	box-shadow: 0px 2px 3px 0px rgba(100, 100, 100, 0.75);
}

.dark-theme .animation-preview {

	background-color: #393b49;
	border-color: rgba(0, 0, 0, 0.4);
}

.dark-theme .modern-sensuba-button {

	background-color: #36383a !important;
	color: white !important;
	border-color: #d7dadd !important;
}

.dark-theme .modern-sensuba-button:hover {

	background-color: whitesmoke !important;
	color: black !important;
	border-color: black !important;
}

.dark-theme .vintage-radio input + label {

	color: #d7dadd;
}

.dark-theme .vintage-radio input:checked + label {

	background: radial-gradient(#7c7c7b, transparent, transparent);
}

.dark-theme .rule-part {

	background: linear-gradient(to right, rgba(150, 150, 150, 0.25), rgba(150, 150, 150, 0.15), rgba(150, 150, 150, 0.25));
	color: white;
}

.dark-theme .rule-extender .explanation {

	color: #d3d7da;
}

.dark-theme .sensuba-deckbuilder {

	border-color: rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 5px 0px rgba(30,30,30,0.6);
}

.dark-theme .sensuba-deckbuilder-search .sensuba-deckbuilder-search-input::placeholder {

	color: lightgray;
}

.dark-theme .sensuba-deckbuilder-search .sensuba-deckbuilder-tag {

	border-color: rgba(0, 0, 0, 0.4);
}

.dark-theme .sensuba-deck-case {

	border-color: #444;
	box-shadow: 2px 2px 5px 0px rgba(30,30,30,0.6);
}

.dark-theme .sensuba-deckbuilder-list .sensuba-deckbuilder-list-count {

	color: #FFFFFF90;
}

.dark-theme .ant-progress .ant-progress-circle-trail {

	stroke: rgba(20, 20, 20, 0.5) !important;
}

.dark-theme .sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle .sensuba-end-turn-dot {

	background-color: #ffffff80;
}

.dark-theme #newturn-frame {

	background: linear-gradient(90deg,transparent,#817575c0 20%,#817575c0 80%,transparent)
}

.dark-theme .faculty-box {

	background: #717377;
}

.dark-theme .locked-faculty, .dark-theme .locked-faculty:hover {

	background: #979ba2;
}

.dark-theme #deck-count-tooltip {

	background: #717377;
}

.dark-theme .sensuba-tile-targetable {

    background-color: rgba(255, 55, 55, 0.2);
}

.dark-theme .sensuba-deckbuilder-search {

	background: none repeat scroll 0 0 #1d1d1d80;
}

.dark-theme .solo-panel .solo-panel-chapters .solo-panel-chapters-end {

	background-color: #36393F;
}

.dark-theme .home-panel .home-panel-text h3, .solo-panel .solo-panel-text h3 {

	color: white;
}

.dark-theme .sensuba-textbox {

	background: #000000C0;
	border: #FFFFFFa0 dashed 2px;
}