main {

	background-color: #36393F;
	color: #d7dadd;
}

main .sensuba-card {

	color: initial;
}

main .sensuba-card-search input, main .sensuba-card-search select, main .sensuba-card-search input:focus, main .sensuba-card-search select:focus {

	color: white;
}

main .colors-group #neutral-mana + label, main .colors-group #neutral-mana-2 + label { background-color: rgba(133, 167, 193, 0.2) }
main .colors-group #white-mana + label, main .colors-group #white-mana-2 + label { background-color: rgba(232, 209, 97, 0.2) }
main .colors-group #red-mana + label, main .colors-group #red-mana-2 + label { background-color: rgba(247, 69, 69, 0.2) }
main .colors-group #blue-mana + label, main .colors-group #blue-mana-2 + label { background-color: rgba(17, 150, 216, 0.2) }
main .colors-group #green-mana + label, main .colors-group #green-mana-2 + label { background-color: rgba(142, 197, 102, 0.2) }
main .colors-group #black-mana + label, main .colors-group #black-mana-2 + label { background-color: rgba(80, 26, 53, 0.2) }

main .editor-menu {

    border-color: rgba(0, 0, 0, 0.4);
}

main .editor-menu-tabs {

    background-color: #1F1F1F;
    border-color: rgba(0, 0, 0, 0.4);
}

main .editor-menu-tabs input + label {

    color: white;
}

main .editor-menu-tabs input:checked + label {

    background-color: #484848;
    color: white;
}

main .form-control {

	background-color: #36383a;
	border-color: #969ba0;
	color: #d7dadd;
}

main .form-control:focus {

	background-color: #36383a;
	color: white;
}

main .blueprint-menu .blueprint-nav {

	background-color: #2F3136;
}

main .blueprint-menu .blueprint-tool {

	background-color: black;
	box-shadow: 0px 2px 3px 0px rgba(100, 100, 100, 0.75);
}

main .animation-preview {

	background-color: #393b49;
	border-color: rgba(0, 0, 0, 0.4);
}

main .modern-sensuba-button {

	background-color: #36383a !important;
	color: white !important;
	border-color: #d7dadd !important;
}

main .modern-sensuba-button:hover {

	background-color: whitesmoke !important;
	color: black !important;
	border-color: black !important;
}

main .vintage-radio input + label {

	color: #d7dadd;
}

main .vintage-radio input:checked + label {

	background: radial-gradient(#7c7c7b, transparent, transparent);
}

main .rule-part {

	background: linear-gradient(to right, rgba(150, 150, 150, 0.25), rgba(150, 150, 150, 0.15), rgba(150, 150, 150, 0.25));
	color: white;
}

main .rule-extender .explanation {

	color: #d3d7da;
}

main .sensuba-deckbuilder {

	border-color: rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 5px 0px rgba(30,30,30,0.6);
}

main .sensuba-deckbuilder-search .sensuba-deckbuilder-search-input::placeholder {

	color: lightgray;
}

main .sensuba-deckbuilder-search .sensuba-deckbuilder-tag {

	border-color: rgba(0, 0, 0, 0.4);
}

main .sensuba-deck-case {

	border-color: #444;
	box-shadow: 2px 2px 5px 0px rgba(30,30,30,0.6);
}

main .sensuba-deckbuilder-list .sensuba-deckbuilder-list-count {

	color: #FFFFFF90;
}

main .ant-progress .ant-progress-circle-trail {

	stroke: rgba(20, 20, 20, 0.5) !important;
}