@media only screen and (max-device-width: 1024px) {

main {
	padding: 2em 0 !important;
}

.navbar-brand {

	display: block !important;
}

nav .breadcrumb {

	padding: 0.5rem 0 !important;
}

.home-panel {

	filter: none !important;
}

.home-panel:hover .home-panel-background {

	height: inherit !important;
	width: inherit !important;
	top: inherit !important;
	left: inherit !important;
}

.home-panel.panel-right .home-panel-filter {

	height: inherit !important;
	width: inherit !important;
	top: inherit !important;
	left: inherit !important;
}

.home-panel .home-panel-text, .home-panel.panel-right .home-panel-text {

	left: 5% !important;
	width: 90% !important;
	top: unset !important;
	bottom: 5% !important;
}

.home-panel .home-panel-filter, .home-panel.panel-right .home-panel-filter {

	background: linear-gradient(180deg,transparent,transparent 40%,#000B 60%,#000D) !important;
}

.solo-panel {

	height: auto !important;
}

.solo-panel .solo-panel-background {

	height: 15em !important;
	position: static !important;
	top: unset !important;
	left: unset !important;
}

.solo-panel .solo-panel-filter {

	height: 15em !important;
}

.solo-panel .solo-panel-text {

	left: 10% !important;
	top: 10% !important;
	width: 60% !important;
}

.solo-panel .solo-panel-chapters {

	position: static !important;
	top: unset !important;
	right: unset !important;
	height: auto !important;
	font-size: 0.8em !important;
}

.solo-panel .solo-panel-chapters .solo-panel-chapter {

	display: block !important;
	height: auto !important;
	width: auto !important;
	transform: none !important;
	writing-mode: initial !important;
	margin: 0 !important;
	padding: 0 0 0 1em !important;
	background: linear-gradient(#404040, #202020);
	transition: padding ease-in-out 0.4s;
}

.solo-panel .solo-panel-chapters .solo-panel-chapter:active {

	padding: 0 0 0 1.5em !important;
}

.solo-panel .solo-panel-chapters .solo-panel-chapters-end {

	display: none !important;
}

.lightbox {

	width: 100% !important;
	border-radius: 0 !important;
}

.sensuba-card-search .third-section:nth-child(3) {

	display: none !important;
}

.sensuba-card-container .sensuba-card-link .sensuba-card {

	font-size: 8px !important;
}

.sensuba-focus-box .lightbox {

	width: initial !important;
}

.sensuba-card-focus .sensuba-card {

	font-size: 5vw !important;
}

.card-collection-choicer .vintage-radio label {

	max-width: 50% !important;
}

.sensuba-shop-boosters {

	font-size: 0.7em !important;
	max-width: calc(100vw - 2em) !important;
}

.rule-extender .explanation {

	display: block !important;
	width: 100% !important;
}

.rule-extender .img-exp {

	display: block !important;
	margin: 1em auto !important;
	max-width: 100% !important;
}

.quarter-section { width: 50% !important; }

.third-section { width: 50% !important; }

.half-section { width: 100% !important; }

.glossary-panel .glossary-panel-text {

	left: 5% !important;
	top: unset !important;
	bottom: 0 !important;
	width: 90% !important;
}

.sensuba-deck-case {

	height: 10em !important;
	width: 7.5em !important;
}

.deck-image-prewiev {

	margin-bottom: 1em !important;
}

.deck-image-preview .sensuba-deck-case {

	height: 20em !important;
	width: 15em !important;
}

.hero-selector .hero-list {

	height: 75vw !important;
}

.hero-selector .main-hero-card {

	font-size: 3vw !important;
	box-shadow: 0px 0px 50px 0px #ffd83dC0 !important;
}

.hero-selector .shadow-hero-card {

	font-size: 2vw !important;
	opacity: 0.5 !important;
	filter: grayscale(50%) !important;
}

.hero-selector .small-shadow-hero-card {

	font-size: 0vw !important;
	opacity: 0 !important;
	filter: grayscale(100%) !important;
}

.sensuba-deckbuilder {

	margin-top: 30px !important;
	border: none !important;
	border-style: none !important;
	border-radius: 0 !important;
	height: unset !important;
}

.sensuba-deckbuilder .sensuba-deckbuilder-list {

	width: 100% !important;
	height: 31em !important;
}

.sensuba-deckbuilder .sensuba-deckbuilder-search {

	display: block !important;
	width: 100% !important;
	font-size: 4em !important;
}

.sensuba-deckbuilder .sensuba-deckbuilder-search-list {

	max-height: 4.51em !important;
}

.sensuba-deckbuilder .sensuba-deckbuilder-search-input, .sensuba-deckbuilder .sensuba-deckbuilder-search-input:focus {

	font-size: 0.7em !important;
}

.sensuba-deckbuilder .sensuba-deckbuilder-list-count {

	right: 10px !important;
	top: calc(29.5em - 10px) !important;
}

#img-preview-tooltip {

	position: fixed !important;
	top: 12em !important;
	left: 0 !important;
	font-size: 0.8em !important;
}

.deckbuilder-hero-preview .sensuba-card {

	margin-left: auto !important;
	margin-right: auto !important;
}

.deckbuilder-type-repartition .ant-progress {

    width: 50% !important;
    display: inline-block !important;
}

.editor-box {

	border: none !important;
}

.editor-button {

	height: none !important;
	margin-top: 2em !important;
}

.editor-button-img {

	width: 100% !important;
	opacity: 1 !important;
}

.editor-button:hover .editor-button-img {

	margin: inherit !important;
}

.editor-button-text {

    text-shadow: 0 0 8px #000 !important;
    font-size: 1.5em !important;
    padding: .4em !important;
}

.recharts-wrapper, .recharts-surface, .recharts-legend-wrapper { max-width: 100% }

.editor-menu .editor-menu-tabs label[for=blueprint-tab] {

	display: none !important;
}

.deck-selection-area {

	height: 26em !important;
}

.deck-selection-area .sensuba-deck-case {

	height: 16em !important;
	width: 12em !important;
}

.deck-selection-area .sensuba-deckbuilder-search {

	height: 8.1rem !important;	
}

.deck-selection-area .sensuba-deckbuilder-search .sensuba-deckbuilder-search-list {

	height: 6.1rem !important;
}

.play-panel {

	display: block !important;
	width: 100% !important;
	height: 9em !important;
}

#newturn-frame {

  height: 100vh !important;
  top: 0 !important;
}

#endgame-window {

	min-width: 0 !important;
}

#endgame-window .sensuba-card {

	display: none !important;
}

.sensuba-gameboard {

	margin-top: calc(-10vw - 3em) !important;
}

.sensuba-court {

	transform: rotateX(310deg) translateX(-5vw) translateY(-6vw) translateZ(18em) !important;
}

.sensuba-gems + .sensuba-court {

	transform: rotateX(310deg) translateX(-5vw) translateY(-10vw) translateZ(21em) !important;
}

.sensuba-area + .sensuba-hand .sensuba-card-view {

	font-size: 0.7vw !important;
	margin-left: -1.5vw !important;
}

.sensuba-mission-text {

	left: calc(50% - 40vw) !important;
	width: 80vw !important;
}

.faculty-box {

	font-size: 0.6em !important;
	width: 12rem !important;
    min-height: 0.6rem !important;
    padding: 0.12rem !important;
    margin-left: -2em !important;
}

}