.sensuba-card-container {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sensuba-card {

	font-size: 1em;
}

.card-collection-choicer {

	margin-bottom: 1em;
}

.editor-button {

  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  position: relative;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  height: 20em;
}

.editor-button-img {

	width: 60%;
	margin: 0 auto -30% auto;
	opacity: 0.4;
	transition: opacity 0.5s ease-in-out, margin-bottom 0.5s ease-in-out;
}

.editor-button:hover .editor-button-img {

	opacity: 1;
	margin-bottom: -10%;
}

.editor-button-text {

  font-size: 1.2em;
  font-variant: small-caps;
  color: white;
  text-shadow: 0 0 5px #000C;
  font-family: Constantia, "Palatino Linotype", Palatino, Georgia, serif;
  padding: 0.5em;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: text-shadow 0.5s ease-in-out, font-size 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.editor-button:hover .editor-button-text {

	text-shadow: 0 0 8px black;
	font-size: 1.5em;
	padding: 0.4em;
}

.card-collection-choicer .vintage-radio label {

  font-size: 1.2em;
}

.sensuba-card-search {

  /*background: linear-gradient(to bottom, #26272b, black);*/
  margin-bottom: 1em;
}

.sensuba-card-search input, .sensuba-card-search select {

  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  border-radius: 5px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.sensuba-card-search .colors-group {
  
  margin-bottom: 10px;
}

.sensuba-card-search select {

  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.sensuba-search-select-label {

  width: 40%;
  overflow: hidden;
  margin: 0;
  display: inline-block;
  font-size: 1rem;
  line-height: 2;
  height: 2em;
  vertical-align: top;
}

.sensuba-card-search option {

  background-color: white;
  color: black;
}

.sensuba-card-search input:focus, .sensuba-card-search select:focus {

  background-color: transparent;
  outline: 0;
  box-shadow: none;
  color: black;
  border-color: black;
}

.sensuba-card-search .third-section {

  padding: 0 5%;
}

.half-section, .third-section, .two-thirds-section {

  display: inline-block;
  vertical-align: top;
}

.half-section { width: 50% }
.third-section { width: 33% }
.two-thirds-section { width: 66% }

.colors-group {

  display: flex;
  justify-content: space-around;
}

.colors-group input {

  display: none;
}

.colors-group label {

  height: 1.4em;
  width: 1.4em;
  margin-left: 0.3em;
  border: 1px solid;
  border-radius: 0.3em;
  cursor: pointer;
}

.sensuba-card-search .colors-group label {

  height: 2em;
  width: 2em;
}

.colors-group #neutral-mana + label, .colors-group #neutral-mana-2 + label { border-color: rgb(133, 167, 193) }
.colors-group #white-mana + label, .colors-group #white-mana-2 + label { border-color: rgb(232, 209, 97) }
.colors-group #red-mana + label, .colors-group #red-mana-2 + label { border-color: rgb(247, 69, 69) }
.colors-group #blue-mana + label, .colors-group #blue-mana-2 + label { border-color: rgb(17, 150, 216) }
.colors-group #green-mana + label, .colors-group #green-mana-2 + label { border-color: rgb(142, 197, 102) }
.colors-group #black-mana + label, .colors-group #black-mana-2 + label { border-color: rgb(80, 26, 53) }

.colors-group #neutral-mana:checked + label, .colors-group #neutral-mana-2:checked + label { background-color: rgb(133, 167, 193) }
.colors-group #white-mana:checked + label, .colors-group #white-mana-2:checked + label { background-color: rgb(232, 209, 97) }
.colors-group #red-mana:checked + label, .colors-group #red-mana-2:checked + label { background-color: rgb(247, 69, 69) }
.colors-group #blue-mana:checked + label, .colors-group #blue-mana-2:checked + label { background-color: rgb(17, 150, 216) }
.colors-group #green-mana:checked + label, .colors-group #green-mana-2:checked + label { background-color: rgb(142, 197, 102) }
.colors-group #black-mana:checked + label, .colors-group #black-mana-2:checked + label { background-color: rgb(80, 26, 53) }