.sensuba-card-container {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sensuba-card {

	font-size: 1em;
}

.card-collection-choicer {

	margin-bottom: 1em;
}

.custom-cards-editor-link {

	margin-top: 1em;
}