.sensuba-card-container {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sensuba-card {

	font-size: 1em;
}

.card-collection-choicer {

	margin-bottom: 1em;
}

.editor-button {

  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  position: relative;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  height: 20em;
}

.editor-button.reverse-editor-button {
    background: transparent;
    border: none;
    border-top: 1px solid black;
    border-bottom: none;
    position: relative;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    height: 20em;
}

.editor-button-img {

	width: 60%;
	margin: 0 auto -30% auto;
	opacity: 0.4;
	transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out, margin-bottom 0.5s ease-in-out;
}

.editor-button.reverse-editor-button .editor-button-img {

  margin: -30% auto 0 auto;
  transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out, margin-bottom 0.5s ease-in-out;
  filter: sepia(1) hue-rotate(90deg);
  transform: scaleY(-1) scaleX(-1);
}

.editor-button:hover .editor-button-img {

	opacity: 1;
	margin-bottom: -10%;
}

.editor-button.reverse-editor-button:hover .editor-button-img {

  margin-bottom: 0;
  margin-top: -10%;
}

.editor-button-text {

  font-size: 1.2em;
  font-variant: small-caps;
  color: white;
  text-shadow: 0 0 5px #000C;
  font-family: Constantia, "Palatino Linotype", Palatino, Georgia, serif;
  padding: 0.5em;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: text-shadow 0.5s ease-in-out, font-size 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.editor-button.reverse-editor-button .editor-button-text {

  bottom: initial;
  top: 0;
}

.editor-button:hover .editor-button-text {

	text-shadow: 0 0 8px black;
	font-size: 1.5em;
	padding: 0.4em;
}

.card-collection-choicer .vintage-radio label {

  font-size: 1.2em;
}

.sensuba-card-search {

  /*background: linear-gradient(to bottom, #26272b, black);*/
  margin-bottom: 1em;
}

.sensuba-card-search input, .sensuba-card-search select {

  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  border-radius: 5px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.sensuba-card-search .colors-group {

  margin-bottom: 10px;
}

.sensuba-card-search select {

  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.sensuba-search-select-label {

  width: 40%;
  overflow: hidden;
  margin: 0;
  display: inline-block;
  font-size: 1rem;
  line-height: 2;
  height: 2em;
  vertical-align: top;
}

.sensuba-card-search option {

  background-color: white;
  color: black;
}

.sensuba-card-search input:focus, .sensuba-card-search select:focus {

  background-color: transparent;
  outline: 0;
  box-shadow: none;
  color: black;
  border-color: black;
}

.sensuba-card-search .third-section {

  padding: 0 5%;
}

.half-section, .third-section, .two-thirds-section, .quarter-section {

  display: inline-block;
  vertical-align: top;
}

.half-section { width: 50% }
.third-section { width: 33% }
.two-thirds-section { width: 66% }
.quarter-section { width: 25% }

.sensuba-card-search .colors-group {

  display: flex;
  justify-content: space-around;
}

.colors-group input {

  display: none;
}

.colors-group label {

  margin-left: 0.1em;
  border: 1px solid;
  border-radius: 0.3em;
  cursor: pointer;
  position: relative;
}

.sensuba-card-search .colors-group label {

  height: 2em;
  width: 2em;
}

.sensuba-search-interact {

  text-align: right;
  padding-right: 4px;
  transition: padding-right 0.3s;
  cursor: pointer;
}

.sensuba-search-interact:hover {

  text-align: right;
  padding-right: calc(4px + 0.4em);
}

.sensuba-search-page-bottom {

  margin-top: 1em;
}

.sensuba-search-page-text {

  margin: 0 0.2em;
}

.sensuba-search-page-button {

  cursor: pointer;
  transition: margin 0.3s;
}

.sensuba-search-page-locked-button {

  margin: 0 !important;
  color: darkgray;
  cursor: default;
}

.sensuba-search-page-button:hover {

  margin-right: calc(2px + 0.2em);
  margin-left: calc(-2px - 0.2em);
}

.sensuba-search-page-text + .sensuba-search-page-button:hover {

  margin-right: calc(-2px - 0.2em);
  margin-left: calc(2px + 0.2em);
}

.sensuba-search-label-section {

  padding: 0.375rem;
}

.colors-group #neutral-mana + label, .colors-group #neutral-mana-2 + label { border-color: rgb(133, 167, 193); }
.colors-group #neutral-mana + label::before, .colors-group #neutral-mana-2 + label::before { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/neutralcolor.png"); opacity: 0.5; }
.colors-group #white-mana + label, .colors-group #white-mana-2 + label { border-color: rgb(232, 209, 97); }
.colors-group #white-mana + label::before, .colors-group #white-mana-2 + label::before { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/whitecolor.png"); opacity: 0.5; }
.colors-group #red-mana + label, .colors-group #red-mana-2 + label { border-color: rgb(247, 69, 69); }
.colors-group #red-mana + label::before, .colors-group #red-mana-2 + label::before { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/redcolor.png"); opacity: 0.5; }
.colors-group #blue-mana + label, .colors-group #blue-mana-2 + label { border-color: rgb(17, 150, 216); }
.colors-group #blue-mana + label::before, .colors-group #blue-mana-2 + label::before { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/bluecolor.png"); opacity: 0.5; }
.colors-group #green-mana + label, .colors-group #green-mana-2 + label { border-color: rgb(142, 197, 102); }
.colors-group #green-mana + label::before, .colors-group #green-mana-2 + label::before { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/greencolor.png"); opacity: 0.5; }
.colors-group #black-mana + label, .colors-group #black-mana-2 + label { border-color: rgb(80, 26, 53); }
.colors-group #black-mana + label::before, .colors-group #black-mana-2 + label::before { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/blackcolor.png"); opacity: 0.5; }

.colors-group #neutral-mana:checked + label, .colors-group #neutral-mana-2:checked + label { background-color: rgb(133, 167, 193); background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/neutral.png"); }
.colors-group #white-mana:checked + label, .colors-group #white-mana-2:checked + label { background-color: rgb(232, 209, 97); background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/white.png"); }
.colors-group #red-mana:checked + label, .colors-group #red-mana-2:checked + label { background-color: rgb(247, 69, 69); background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/red.png"); }
.colors-group #blue-mana:checked + label, .colors-group #blue-mana-2:checked + label { background-color: rgb(17, 150, 216); background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/blue.png"); }
.colors-group #green-mana:checked + label, .colors-group #green-mana-2:checked + label { background-color: rgb(142, 197, 102); background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/green.png"); }
.colors-group #black-mana:checked + label, .colors-group #black-mana-2:checked + label { background-color: rgb(80, 26, 53); background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/black.png"); }

.colors-group #neutral-mana:checked + label::before, .colors-group #neutral-mana-2:checked + label::before { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/neutral.png"); opacity: 0.5; }
.colors-group #white-mana:checked + label::before, .colors-group #white-mana-2:checked + label::before { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/white.png"); opacity: 0.5; }
.colors-group #red-mana:checked + label::before, .colors-group #red-mana-2:checked + label::before { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/red.png"); opacity: 0.5; }
.colors-group #blue-mana:checked+ label::before, .colors-group #blue-mana-2:checked + label::before { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/blue.png"); opacity: 0.5; }
.colors-group #green-mana:checked + label::before, .colors-group #green-mana-2:checked + label::before { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/green.png"); opacity: 0.5; }
.colors-group #black-mana:checked + label::before, .colors-group #black-mana-2:checked + label::before { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-size: 100%; background-repeat: no-repeat; background-image: url("/cards/black.png"); opacity: 0.5; }

.colors-group #collection-check + label { border: none; background: url("./collection.png"); background-repeat: no-repeat; background-size: 100%; }
.colors-group #collection-check.true + label { background: url("./incollection.png"); background-repeat: no-repeat; background-size: 100%; }
.colors-group #collection-check.false + label { background: url("./notincollection.png"); background-repeat: no-repeat; background-size: 100%; }

.sensuba-focus-box .lightbox {

  max-height: 95vh !important;
  max-width: 95vw !important; 
  overflow: auto !important;
}

.sensuba-card-focus {

  display: flex;
  justify-content: wrap;
}

.sensuba-card-focus .sensuba-card {

  font-size: 3.5vh;
}

.sensuba-shop-box h2 {

  margin-top: 1em;
}

.sensuba-shop-box h2, h3 {

  text-align: center;
}

.sensuba-shop-box .sensuba-shop-credits {

  position: absolute;
  top: 1em;
  right: 1em;
}

.sensuba-shop-box .sensuba-shop-boosters {

  margin-top: 2em;
  overflow: auto;
  display: flex;
}

.sensuba-shop-box .sensuba-shop-booster {

  display: inline-block;
  cursor: pointer;
}

.sensuba-shop-box .sensuba-booster .sensuba-booster-name {

  pointer-events: none;
}

.opening-card-list {

  display: inline-block;
  max-width: 82em;
  max-height: 100vh;
  overflow: auto;
}

.sensuba-opening-card {

  display: inline-block;
}

.sensuba-opening-card .sensuba-card {

  display: block;
}

.sensuba-card-link {

  position: relative;
}

.sensuba-card-count {

  position: absolute;
  top: 0.45em;
  right: 1.5em;
  width: 2em;
  height: 3em;
  background: #C8C8C8C0;
  border: solid 0.05em #FFFFFFC0;
  border-top: 0;
  outline: solid 0.05em #C8C8C8C0;
  color: white;
  font-weight: bold;
  line-height: 4em;
}

.sensuba-focus-shop {

  text-align: center;
}

.shop-button {

  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
  margin-bottom: 0;
  border: 3px solid #55eaea;
  background-color: #ffb3c0;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  transition: background-color 0.2s;
  cursor: pointer;
  text-shadow: 0 0 3px #0008;
  box-shadow: 1px 1px 0.1em 0 #0008;
}

.shop-button:hover {

  background-color: #55eaea;
}

.sensuba-shop-count {

  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
  min-width: 2.5em;
  background: #C8C8C8C0;
  border: .05em solid #FFFFFFC0;
  outline: .05em solid #C8C8C8C0;
  color: #fff;
  font-weight: 700;
}