@font-face {
    font-family: "Lucida Bright";
    src: local("Lucida Bright"),
        url("./Fonts/LBRITE.TTF");
}

@font-face {
    font-family: Constantia;
    src: local("Constantia"),
        url("./Fonts/constan.ttf");
}

@font-face {
    font-family: Ebrima;
    src: local("Ebrima"),
        url("./Fonts/ebrima.ttf");
}

@font-face {
    font-family: "Imprint MT Shadow";
    src: local("Imprint MT Shadow"),
        url("./Fonts/IMPRISHA.TTF");
}

.sensuba-card {

    filter: drop-shadow(2px 3px 2px #202020A0);
	width: 15em;
    min-width: 15em;
    height: 20em;
    min-height: 20em;
    overflow: hidden;
    position: relative;
    border-radius: 0.5em;
    margin: 0.4em;
}

.sensuba-card .sensuba-card-bg {

    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.sensuba-card .sensuba-card-header {

	position: absolute;
    z-index: 1;
    top: 0.5em;
    left: 3%;
    width: 94%;
    color: white;
}

.sensuba-card .sensuba-card-mana {

	position: absolute;
    z-index: 1;
	height: 1.5em;
    width: 1.5em;
    border-radius: 0.833em;
    font-family: "Lucida Bright";
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: -0.1em;
    overflow: hidden;
    line-height: 1.333em;
    background: rgb(133, 167, 193);
    border: solid white 0.0833em;
    box-shadow: inset 0 -0.04em 0.1em 0.03em rgba(0,0,0,.5);
    font-size: 1.2em;
    border-style: outset;
}

.sensuba-card.golden-card .sensuba-card-mana {

    border-color: gold;
    border-width: 0.1em;
}

.sensuba-card.white-mana .sensuba-card-mana { background: rgb(232, 209, 97) }
.sensuba-card.red-mana .sensuba-card-mana { background: rgb(247, 69, 69) }
.sensuba-card.blue-mana .sensuba-card-mana { background: rgb(17, 150, 216) }
.sensuba-card.green-mana .sensuba-card-mana { background: rgb(142, 197, 102) }
.sensuba-card.black-mana .sensuba-card-mana { background: rgb(80, 26, 53) }

.sensuba-card .sensuba-card-title {

	position: absolute;
    top: /*0.45em*/0.406em;
    left: 7%;
	height: /*1.1em*/1.188em;
    text-align: center;
    width: 90%;
    line-height: 1em;
    font-size: 0.9em;
    border: solid white /*0.056em*/0.1em;
	background: linear-gradient(rgba(146, 177, 200, 0.8), rgba(105, 147, 179, 0.8));
    border-radius: 0.22em;
    box-shadow: 0px -0.056px 0.33px 0px rgba(0, 0, 0, 0.5) inset;
    text-shadow: 1px 1px 2px rgba(120, 120, 120, 1);
    font-family: "Imprint MT Shadow";
    border-style: outset;
}

.sensuba-card .sensuba-card-title.sensuba-card-long-title {

    top: /*0.50625em*/0.45em;
    height: /*1.2375em*/1.385em;
    line-height: 1.125em;
    font-size: 0.8em;
    border: solid white /*0.063em*/0.125em;
    border-radius: 0.2475em;
    border-style: outset;
}

.sensuba-card .sensuba-card-title.sensuba-card-very-long-title {

    top: 0.45em;
    height: 1.584em;
    line-height: 1.3333em;
    font-size: 0.75em;
    border: solid white 0.1333em;
    border-radius: 0.2933em;
    border-style: outset;
}

.sensuba-card.golden-card .sensuba-card-title {

    border-color: gold;
    color: gold;
}

.sensuba-card.white-mana .sensuba-card-title { background: linear-gradient(150deg, rgba(242, 223, 130, 0.8), rgba(208, 186, 75, 0.8)) }
.sensuba-card.red-mana .sensuba-card-title { background: linear-gradient(150deg, rgba(255, 87, 87, 0.8), rgba(200, 47, 47, 0.8)) }
.sensuba-card.blue-mana .sensuba-card-title { background: linear-gradient(150deg, rgba(76, 181, 234, 0.8), rgba(11, 137, 200, 0.8)) }
.sensuba-card.green-mana .sensuba-card-title { background: linear-gradient(150deg, rgba(168, 219, 130, 0.8), rgba(129, 186, 88, 0.8)) }
.sensuba-card.black-mana .sensuba-card-title { background: linear-gradient(150deg, rgba(92, 37, 65, 0.8), rgba(44, 12, 28, 0.8)) }

.sensuba-card.sensuba-hero.neutral-mana.white-mana .sensuba-card-title { background: linear-gradient(to right, rgba(133, 167, 193, 0.8), rgba(232, 209, 97, 0.8)) }
.sensuba-card.sensuba-hero.neutral-mana.red-mana .sensuba-card-title { background: linear-gradient(to right, rgba(133, 167, 193, 0.8), rgba(247, 69, 69, 0.8)) }
.sensuba-card.sensuba-hero.neutral-mana.blue-mana .sensuba-card-title { background: linear-gradient(to right, rgba(133, 167, 193, 0.8), rgba(17, 150, 216, 0.8)) }
.sensuba-card.sensuba-hero.neutral-mana.green-mana .sensuba-card-title { background: linear-gradient(to right, rgba(133, 167, 193, 0.8), rgba(142, 197, 102, 0.8)) }
.sensuba-card.sensuba-hero.neutral-mana.black-mana .sensuba-card-title { background: linear-gradient(to right, rgba(133, 167, 193, 0.8), rgba(80, 26, 53, 0.8)) }
.sensuba-card.sensuba-hero.white-mana.red-mana .sensuba-card-title { background: linear-gradient(to right, rgba(232, 209, 97, 0.8), rgba(247, 69, 69, 0.8)) }
.sensuba-card.sensuba-hero.white-mana.blue-mana .sensuba-card-title { background: linear-gradient(to right, rgba(232, 209, 97, 0.8), rgba(17, 150, 216, 0.8)) }
.sensuba-card.sensuba-hero.white-mana.green-mana .sensuba-card-title { background: linear-gradient(to right, rgba(232, 209, 97, 0.8), rgba(142, 197, 102, 0.8)) }
.sensuba-card.sensuba-hero.white-mana.black-mana .sensuba-card-title { background: linear-gradient(to right, rgba(232, 209, 97, 0.8), rgba(80, 26, 53, 0.8)) }
.sensuba-card.sensuba-hero.red-mana.blue-mana .sensuba-card-title { background: linear-gradient(to right, rgba(247, 69, 69, 0.8), rgba(17, 150, 216, 0.8)) }
.sensuba-card.sensuba-hero.red-mana.green-mana .sensuba-card-title { background: linear-gradient(to right, rgba(247, 69, 69, 0.8), rgba(142, 197, 102, 0.8)) }
.sensuba-card.sensuba-hero.red-mana.black-mana .sensuba-card-title { background: linear-gradient(to right, rgba(247, 69, 69, 0.8), rgba(80, 26, 53, 0.8)) }
.sensuba-card.sensuba-hero.blue-mana.green-mana .sensuba-card-title { background: linear-gradient(to right, rgba(17, 150, 216, 0.8), rgba(142, 197, 102, 0.8)) }
.sensuba-card.sensuba-hero.blue-mana.black-mana .sensuba-card-title { background: linear-gradient(to right, rgba(17, 150, 216, 0.8), rgba(80, 26, 53, 0.8)) }
.sensuba-card.sensuba-hero.green-mana.black-mana .sensuba-card-title { background: linear-gradient(to right, rgba(142, 197, 102, 0.8), rgba(80, 26, 53, 0.8)) }
.sensuba-card.sensuba-hero.white-mana.red-mana.blue-mana.green-mana.black-mana .sensuba-card-title,
.sensuba-card.sensuba-hero.all-mana .sensuba-card-title { background: linear-gradient(to right, rgba(232, 209, 97, 0.8), rgba(247, 69, 69, 0.8), rgba(17, 150, 216, 0.8), rgba(142, 197, 102, 0.8), rgba(80, 26, 53, 0.8)) }

.sensuba-card .sensuba-card-illustrator {

    position: absolute;
    z-index: 1;
    top: 3.2em;
    left: 14%;
    width: 94%;
    color: white;
    text-align: left;
    font-family: "Imprint MT Shadow";
    font-size: 0.6em;
    font-style: italic;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    opacity: 0.9;
}

.sensuba-card.sensuba-hero .sensuba-card-illustrator {

    left: 17%;
}

.sensuba-card .sensuba-card-body {

	position: absolute;
    z-index: 2;
    height: 4.5em;
	width: 94%;
    left: 3%;
    top: 12.5em;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.15em;
    overflow: hidden;
}

.sensuba-hero .sensuba-card-body {

    top: 12em;
    height: 5.5em;
}

.sensuba-spell .sensuba-card-body, .sensuba-secret .sensuba-card-body, .sensuba-artifact .sensuba-card-body {

    top: 14em;
    height: 5.5em;
}

.sensuba-card .sensuba-card-body .sensuba-card-body-header {

	background: rgba(133, 167, 193, 0.8);
    width: 100%;
    height: 1.667em;
    font-family: "Lucida Bright";
    color: white;
    font-size: 0.45em;
    line-height: 1.6em;
}

.sensuba-card.white-mana .sensuba-card-body .sensuba-card-body-header { background: rgba(232, 209, 97, 0.8) }
.sensuba-card.red-mana .sensuba-card-body .sensuba-card-body-header { background: rgba(247, 69, 69, 0.8) }
.sensuba-card.blue-mana .sensuba-card-body .sensuba-card-body-header { background: rgba(17, 150, 216, 0.8) }
.sensuba-card.green-mana .sensuba-card-body .sensuba-card-body-header { background: rgba(142, 197, 102, 0.8) }
.sensuba-card.black-mana .sensuba-card-body .sensuba-card-body-header { background: rgba(80, 26, 53, 0.8) }

.sensuba-card.sensuba-hero.neutral-mana.white-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(133, 167, 193, 0.8), rgba(232, 209, 97, 0.8)) }
.sensuba-card.sensuba-hero.neutral-mana.red-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(133, 167, 193, 0.8), rgba(247, 69, 69, 0.8)) }
.sensuba-card.sensuba-hero.neutral-mana.blue-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(133, 167, 193, 0.8), rgba(17, 150, 216, 0.8)) }
.sensuba-card.sensuba-hero.neutral-mana.green-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(133, 167, 193, 0.8), rgba(142, 197, 102, 0.8)) }
.sensuba-card.sensuba-hero.neutral-mana.black-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(133, 167, 193, 0.8), rgba(80, 26, 53, 0.8)) }
.sensuba-card.sensuba-hero.white-mana.red-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(232, 209, 97, 0.8), rgba(247, 69, 69, 0.8)) }
.sensuba-card.sensuba-hero.white-mana.blue-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(232, 209, 97, 0.8), rgba(17, 150, 216, 0.8)) }
.sensuba-card.sensuba-hero.white-mana.green-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(232, 209, 97, 0.8), rgba(142, 197, 102, 0.8)) }
.sensuba-card.sensuba-hero.white-mana.black-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(232, 209, 97, 0.8), rgba(80, 26, 53, 0.8)) }
.sensuba-card.sensuba-hero.red-mana.blue-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(247, 69, 69, 0.8), rgba(17, 150, 216, 0.8)) }
.sensuba-card.sensuba-hero.red-mana.green-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(247, 69, 69, 0.8), rgba(142, 197, 102, 0.8)) }
.sensuba-card.sensuba-hero.red-mana.black-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(247, 69, 69, 0.8), rgba(80, 26, 53, 0.8)) }
.sensuba-card.sensuba-hero.blue-mana.green-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(17, 150, 216, 0.8), rgba(142, 197, 102, 0.8)) }
.sensuba-card.sensuba-hero.blue-mana.black-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(17, 150, 216, 0.8), rgba(80, 26, 53, 0.8)) }
.sensuba-card.sensuba-hero.green-mana.black-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(142, 197, 102, 0.8), rgba(80, 26, 53, 0.8)) }
.sensuba-card.sensuba-hero.white-mana.red-mana.blue-mana.green-mana.black-mana .sensuba-card-body .sensuba-card-body-header,
.sensuba-card.sensuba-hero.all-mana .sensuba-card-body .sensuba-card-body-header { background: linear-gradient(to right, rgba(133, 167, 193, 0.8), rgba(232, 209, 97, 0.8), rgba(17, 150, 216, 0.8), rgba(142, 197, 102, 0.8), rgba(80, 26, 53, 0.8)) }

.sensuba-card .sensuba-card-type {

	float: left;
    padding-left: 0.8em;
}

.sensuba-card .sensuba-card-anime {

	float: right;
    padding-right: 0.8em;
}

.sensuba-card .sensuba-card-secret-icon {

    position: absolute;
    font-size: 2.2em;
    top: 15rem;
    z-index: 2;
    height: 1em;
    width: 1em;
    left: calc(50% - 0.5em);
    font-weight: bold;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.04em;
    -webkit-text-stroke-color: rgba(133, 167, 193, 0.8);
}

.sensuba-card.white-mana .sensuba-card-secret-icon { -webkit-text-stroke-color: rgba(232, 209, 97, 0.8) }
.sensuba-card.red-mana .sensuba-card-secret-icon { -webkit-text-stroke-color: rgba(247, 69, 69, 0.8) }
.sensuba-card.blue-mana .sensuba-card-secret-icon { -webkit-text-stroke-color: rgba(17, 150, 216, 0.8) }
.sensuba-card.green-mana .sensuba-card-secret-icon { -webkit-text-stroke-color: rgba(142, 197, 102, 0.8) }
.sensuba-card.black-mana .sensuba-card-secret-icon { -webkit-text-stroke-color: rgba(80, 26, 53, 0.8) }

.sensuba-card .sensuba-card-body-main {

	position: absolute;
    top: 1em;
    left: 0;
    width: 100%;
}

.sensuba-card .sensuba-card-effect {

    font-family: Ebrima;
	position: absolute;
    left: 0;
    top: 0.2em;
    width: 100%;
    line-height: 1.3em;
    padding: 0 0.8em;
    text-align: left;
    font-size: 0.65em;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.sensuba-card .sensuba-card-effect .sensuba-card-effect-p + .sensuba-card-effect-p {

    margin-top: 0.25em;
}

.sensuba-card .sensuba-card-effect .sensuba-card-summon-effect-icon {

    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 0.9em;
    position: relative;
}

.sensuba-card .sensuba-card-effect .sensuba-card-summon-effect-icon svg {

    position: absolute;
    top: 0.2em;
    left: 0;
}

.sensuba-card .sensuba-card-effect .sensuba-card-effect-emphasis {

    position: relative;
    z-index: 1;
    min-width: 1em;
    min-height: 1em;
    text-align: center;
    display: inline-block;
    color: white;
    margin-right: 0.9em;
    font-family: "Lucida Bright";
    font-style: italic;
    font-weight: bold;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

.sensuba-card .sensuba-card-effect .sensuba-card-effect-emphasis:before {

    content: "";
    z-index: -1;
    width: 0.8em;
    height: 0.8em;
    display: block;
    position: absolute;
    top: 0.3em;
    margin-left: -0.3em;
    left: 50%;
    background: #80808080;
    transform: rotate(45deg);
}

.sensuba-card .sensuba-card-effect .sensuba-card-effect-action:before {

    background: #00000080;
}

.sensuba-card .sensuba-card-effect .sensuba-card-effect-show {

    color: white;
    font-family: "Lucida Bright";
    font-style: italic;
    font-weight: bold;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

.sensuba-card .sensuba-card-effect .sensuba-card-effect-limit-break {

    font-weight: bold;
    color: blue;
}

.sensuba-card .sensuba-card-effect .sensuba-card-effect-overload {

    color: blue;
}


.sensuba-card .sensuba-card-flavour {

	font-family: Constantia;
    font-size: 0.4em;
    line-height: 1.3em;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: -8.2em;
    width: 80%;
    margin: 0 10%;
}

.sensuba-spell .sensuba-card-flavour, .sensuba-secret .sensuba-card-flavour, .sensuba-artifact .sensuba-card-flavour, .sensuba-hero .sensuba-card-flavour {

    bottom: -10.7em;
}

.sensuba-card .sensuba-card-edition {

    position: absolute;
    z-index: 1;
    height: 1em;
    width: 1em;
    right: 0.03em;
    bottom: -3.5em;
    opacity: 0.25;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: url("Images/classic.png");
}

.sensuba-spell .sensuba-card-edition, .sensuba-secret .sensuba-card-edition, .sensuba-artifact .sensuba-card-edition, .sensuba-hero .sensuba-card-edition {

    bottom: -4.5em;
}

.sensuba-card .sensuba-card-footer {

    z-index: 1;
	font-family: "Lucida Bright";
	background: rgba(133, 167, 193, 0.8);
    font-size: 0.4em;
    line-height: 1.5em;
    position: absolute;
    top: 43.75em;
    width: 85%;
    height: 7.5em;
    margin: 0 7%;
    border-radius: 0.75em;
    border: solid white /*0.125em*/0.225em;
    box-shadow: 0px 0.25em 2em 0px rgba(0, 0, 0, 0.5) inset;
    color: white;
    border-style: outset;
}

.sensuba-card.sensuba-artifact .sensuba-card-footer {

    top: 28.65em;
    left: 18em;
    width: 20em;
    margin: 0 7%;
    background: none !important;
    border: none;
    border-radius: 0em;
    box-shadow: none;
    /*transform: skew(0deg, -30deg);*/
}
.sensuba-card.sensuba-artifact .sensuba-card-footer::before {

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(133, 167, 193, 0.8);
    border-radius: 0em;
    border: solid white 0.125em;
    box-shadow: 0px 0.25em 2em 0px rgba(0, 0, 0, 0.5) inset;
    color: white;
    width: 21em;
    height: 6em;
    box-shadow: 0px 0.25em 2em 0px rgba(0, 0, 0, 0.5) inset;
    transform: skew(0deg, -30deg) rotate(30deg);
}

.sensuba-card.white-mana .sensuba-card-footer, .sensuba-card.white-mana.sensuba-artifact .sensuba-card-footer::before { background: rgba(232, 209, 97, 0.8) }
.sensuba-card.red-mana .sensuba-card-footer, .sensuba-card.red-mana.sensuba-artifact .sensuba-card-footer::before { background: rgba(247, 69, 69, 0.8) }
.sensuba-card.blue-mana .sensuba-card-footer, .sensuba-card.blue-mana.sensuba-artifact .sensuba-card-footer::before { background: rgba(17, 150, 216, 0.8) }
.sensuba-card.green-mana .sensuba-card-footer, .sensuba-card.green-mana.sensuba-artifact .sensuba-card-footer::before { background: rgba(142, 197, 102, 0.8) }
.sensuba-card.black-mana .sensuba-card-footer, .sensuba-card.black-mana.sensuba-artifact .sensuba-card-footer::before { background: rgba(80, 26, 53, 0.8) }

.sensuba-card .sensuba-card-param {

	position: absolute;
    top: 1.5em;
}

.sensuba-card.sensuba-hero .sensuba-card-param {

    font-size: 0.4em;
    color: white;
    text-shadow: 0px 0px 0.5em rgba(0, 0, 0, 1);
    font-family: "Lucida Bright";
}

.sensuba-card .sensuba-card-param-atk { left: 2.5em }
.sensuba-card .sensuba-card-param-hp, .sensuba-card .sensuba-card-param-poison { left: 17.5em }

.sensuba-card.sensuba-hero .sensuba-card-param-atk { left: 12.5em; top: 45em; }
.sensuba-card.sensuba-hero .sensuba-card-param-hp, .sensuba-card.sensuba-hero .sensuba-card-param-poison { left: 23em; top: 6em; font-weight: bold; }

.sensuba-card.sensuba-artifact .sensuba-card-param-hp { left: 3.5em }

.sensuba-card .sensuba-card-param-poison {

    opacity: 0;
}

.sensuba-card .sensuba-card-param-poison .sensuba-card-param-value, .sensuba-card.sensuba-hero .sensuba-card-param.sensuba-card-param-poison .sensuba-card-param-value {

    color: mediumseagreen;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

#img-preview-tooltip .sensuba-card-althp { animation: altprm infinite alternate 3s linear }
#img-preview-tooltip .sensuba-card-param-poison { animation: altsec infinite alternate 3s linear }

@keyframes altprm {
    0%   { opacity: 1 }
    60%  { opacity: 1 }
    70%  { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes altsec {
    0%   { opacity: 0 }
    60%  { opacity: 0 }
    70%  { opacity: 1 }
    100% { opacity: 1 }
}

.sensuba-card .sensuba-card-level {

    position: absolute;
    top: 4.4em;
    color: white;
    font-size: 0.6em;
    font-family: "Lucida Bright";
    left: 2.4em;
    font-weight: bold;
    text-align: center;
    width: 5em;
    margin-left: -2.5em;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.sensuba-card .sensuba-card-param-name {

    position: absolute;
	font-style: italic;
    top: 0;
    left: 0;
    font-size: 1.25em;
}

.sensuba-card .sensuba-card-param-value {

    position: absolute;
	font-style: italic;
    top: 0.231em;
    right: -3.462em;
    font-size: 3.25em;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.sensuba-card.sensuba-hero .sensuba-card-param-value { top: -0.231em; }

.sensuba-card .sensuba-card-param-bonus, .sensuba-card .sensuba-card-param-malus {

    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.sensuba-card .sensuba-card-param-bonus {

    color: #0bcc2b;
}

.sensuba-card .sensuba-card-param-malus {

    color: #ff0303;
}

.sensuba-card .sensuba-card-param-separator {

	position: absolute;
    top: 0.654em;
    left: 4.616em;
    font-size: 3.25em;
}

.sensuba-card .sensuba-card-overload  {

    position: absolute;
    top: 16.1em;
    right: 1.2em;
    font-size: 0.7em;
    color: white;
    text-shadow: 1px 1px 1px black;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.sensuba-hero .sensuba-card-overload  {

    top: 15.6em;
}

.sensuba-card .sensuba-card-overload-limit-break  {

    text-shadow: 1px 1px 1px blue;
}

.sensuba-card.sensuba-spell .sensuba-card-overload, .sensuba-card.sensuba-secret .sensuba-card-overload, .sensuba-card.sensuba-artifact .sensuba-card-overload { top: 18.3em }
.sensuba-card.sensuba-artifact .sensuba-card-overload { left: 1.2em; right: unset; }

.sensuba-card .sensuba-card-overload::before {

    content: "⚡ ";
}

.sensuba-card-range {

	position: absolute;
    left: 0.6em;
    top: 19.2em;
    display: inline-block;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.sensuba-card-range-arrow {
  position: relative;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.3em;
  height: 0;
  width: 0;
}

.sensuba-card-range-arrow::before {
	content: '';
	position: absolute;
	top: 0;
	left: -0.2em;
	height: 0.4em;
	width: 0.7em;
	background: white;
    transform: skew(0deg, -30deg);
    box-shadow: inset 0.1em -0.15em 0.15em 0 rgba(0,0,0,.2), inset 0.2em 0.1em 0.2em 0 hsla(0,0%,59%,.3), 0em 0em 0.1em 0.02em rgba(255, 255, 255,1);
}

.sensuba-card-range-arrow::after {
	content: '';
    position: absolute;
    top: 0;
    right: -0.19em;
    height: 0.4em;
    width: 0.7em;
    background: white;
    transform: skew(0deg, 30deg);
    box-shadow: inset -0.1em -0.15em 0.15em 0 rgba(0,0,0,.2), inset -0.2em 0.1em 0.2em 0 hsla(0,0%,59%,.3), 0em 0em 0.1em 0.02em rgba(255, 255, 255,1);
}

.sensuba-card .sensuba-card-param-bonus .sensuba-card-range-arrow::before,
.sensuba-card .sensuba-card-param-bonus .sensuba-card-range-arrow::after {

    background: #0bf331;
}
.sensuba-card .sensuba-card-param-malus .sensuba-card-range-arrow::before,
.sensuba-card .sensuba-card-param-malus .sensuba-card-range-arrow::after {

    background: #ce0c0c;
}

.sensuba-hero .sensuba-card-range-arrow::before, .sensuba-hero .sensuba-card-range-arrow::after {

    border-top: 0.01em solid white;
    border-bottom: 0.01em solid white;
}

.sensuba-hero .sensuba-card-range-arrow::before {

    box-shadow: 0.1em -0.15em 0.15em 0px rgba(0, 0, 0, 0.5) inset, 0.2em 0.1em 0.2em 0px rgba(150, 150, 150, 0.5) inset;
    border-left: 0.01em solid white;
}

.sensuba-hero .sensuba-card-range-arrow::after {

    box-shadow: -0.1em -0.15em 0.15em 0px rgba(0, 0, 0, 0.5) inset, -0.2em 0.1em 0.2em 0px rgba(150, 150, 150, 0.5) inset;
    border-right: 0.01em solid white;
}

.sensuba-card-range-arrow-2 { top: -1.95em }
.sensuba-card-range-arrow-3 { top: -3.9em }

.sensuba-card-hero-icon {

    position: absolute;
    background-image: url("Images/hero.png");
    height: 2em;
    width: 2em;
    background-size: 2em;
    background-repeat: no-repeat; 
    filter: drop-shadow(1px 2px 1px #202020A0);
}

.sensuba-card-link {

    cursor: pointer;
}

.sensuba-card .sensuba-card-frame {

    top: 2em;
    height: 21em;
    width: 14em;
    font-size: 0.95em;
    left: 0.8em;
    position: absolute;
}
.sensuba-card.golden-card .sensuba-card-frame {

    border-left: 0.05em solid gold;
    border-right: 0.05em solid gold;
}

.sensuba-card.golden-card .sensuba-card-inner-frame {

    top: 0.1em;
    height: 21em;
    width: 13.75em;
    left: 0.08em;
    position: absolute;
    border-left: 0.02em solid gold;
    border-right: 0.02em solid gold;
}

.sensuba-card .sensuba-frame-icon {

    position: absolute;
    z-index: 1;
    height: 1.5em;
    width: 1.5em;
    left: 50%;
    top: -1.895em;
    margin-left: -0.35em;
    background-size: 100%;
    background-repeat: no-repeat;
}

.sensuba-card.golden-card .sensuba-frame-icon, .sensuba-card.sensuba-hero .sensuba-frame-icon, .sensuba-card.rare-card .sensuba-frame-icon, .sensuba-card.uncommon-card .sensuba-frame-icon, .sensuba-card.basic-card .sensuba-frame-icon {

    position: absolute;
    z-index: 1;
    height: 1.2em;
    width: 1.2em;
    left: 50%;
    top: -1.81em;
    opacity: 0.9;
    margin-left: -0.25em;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("Images/lotus.png");
    filter: drop-shadow(0 0 0.05em #00000080);
}

.sensuba-card.basic-card .sensuba-frame-icon {

    background-image: url("Images/basic.png");
}

.sensuba-card.uncommon-card .sensuba-frame-icon {

    background-image: url("Images/petals.png");
}

.sensuba-card.golden-card .sensuba-frame-icon {

    height: 1.5em;
    width: 1.5em;
    top: -1.895em;
    opacity: 1;
    background-image: url("Images/glotus.png");
}

.sensuba-card .sensuba-card-edition.sensuba-card-edition-3, .sensuba-card .sensuba-card-edition.sensuba-card-edition-4 { background-image: url("Images/guardianstar.png"); }

.sensuba-card .sensuba-card-invisible {

    opacity: 0 !important;
}

.sensuba-card.sensuba-card-playable {

    animation: card-halo-playable 1s infinite alternate;
}

@keyframes card-halo-playable {
  0%   { box-shadow: 0 0 0.8em 0.1em #00CCFF; }
  100% { box-shadow: 0 0 0.8em 0.2em #00CCFF; }
}

.sensuba-card.sensuba-card-highlight {

    animation: card-halo-highlight 1.8s infinite alternate;
}

@keyframes card-halo-highlight {
  0%   { box-shadow: 0 0 0.8em 1.1em gold; }
  100% { box-shadow: 0 0 0.8em 1.4em gold; }
}

.sensuba-card.sensuba-card-selected {

    animation: card-halo-selected 1s infinite alternate linear;
}

@keyframes card-halo-selected {
  0%   { box-shadow: 0 0 0.8em 0.2em #00FF00; }
  100% { box-shadow: 0 0 0.8em 0.6em #00FF00; }
}

.sensuba-card.sensuba-card-targetable {

    animation: card-halo-targetable 1s infinite alternate linear;
}

@keyframes card-halo-targetable {
  0%   { box-shadow: 0 0 0.8em 0.2em #FF0000; }
  100% { box-shadow: 0 0 0.8em 0.6em #FF0000; }
}