.home-panel {

	width: 100%;
    position: relative;
    height: 25em;
    filter: grayscale(75%);
    transition: filter 0.5s;
    overflow: hidden;
    margin: 2em 0;
}

.home-panel:hover {

	filter: grayscale(0%);
}

.home-panel .home-panel-background {

	object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    transition: height 0.5s, width 0.5s, top 0.5s, left 0.5s;
}

.home-panel:hover .home-panel-background {

	height: 110%;
	width: 110%;
	top: -5%;
	left: -5%;
}

.home-panel .home-panel-filter {

	position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, transparent, transparent 40%, #000B 60%, #000D);
}

.home-panel.panel-right .home-panel-filter { background: linear-gradient(to left, transparent, transparent 40%, #000B 60%, #000D) }

.home-panel .home-panel-text {

	position: absolute;
	z-index: 2;
	top: 15%;
	left: 55%;
	width: 40%;
	color: white;
	text-align: left;
}

.home-panel .home-panel-text h3 {

	font-family: Constantia;
	font-variant: small-caps;
}

.home-panel.panel-right .home-panel-text { left: 5%; }

.select-button {

	background-color: transparent;
    color: white;
    border: 2px solid white;
    /* text-transform: uppercase; */
    font-weight: bold;
    font-variant: small-caps;
    padding: 0.2em 0.5em;
    font-family: Constantia !important;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    cursor: pointer;
}

.select-button:hover {

	background-color: white;
	color: black;
	border-color: black;
    text-decoration: none;
}