.editor-box .third-section, .editor-box .two-thirds-section {

  padding-right: 10%;
}

.editor-box {

  border: 1px solid black;
  text-align: left;
  padding: 1em 1.5em;
  border-radius: 0.5em;
}

.editor-box label {

  margin-left: 0.9em;
  color: white;
}

.editor-card-visual {

  padding-top: 1em;
}

.editor-card-visual .sensuba-card {

  margin: auto;
  font-size: 1.2em;
}

.editor-card-visual .sensuba-card {

  margin-bottom: 1em;
}

.editor-card-visual .editor-box {

  margin: 1em 20px;
}

.half-section > input {

  width: 90%;
}

.editor-box .vintage-radio label {

  margin: 0 !important;
  font-size: 1em;
}

.token-menu {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.token-menu .menu-button {

  text-overflow: ellipsis;
  max-width: 20em;
  margin-bottom: 1em;
}
/*
.editor-box select {

  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.editor-box input, .editor-box select, .editor-box textarea {

  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  border-radius: 5px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.editor-box option {

  background-color: white;
  color: black;
}

.editor-box input:focus, .editor-box select:focus, .editor-box textarea:focus {

  background-color: transparent;
  outline: 0;
  box-shadow: none;
  color: black;
  border-color: black;
}

.editor-box ::-webkit-scrollbar {
    width: 10px;
}

.editor-box ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}

.editor-box ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

.editor-box ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}*/