.editor-box .third-section, .editor-box .two-thirds-section {

  padding-right: 10%;
}

.editor-box {

  border: 1px solid black;
  text-align: left;
  padding: 1em 1.5em;
  border-radius: 0.5em;
}

.editor-box form label {

  margin-left: 0.9em;
}

.editor-card-visual {

  padding-top: 1em;
}

.editor-card-visual .sensuba-card {

  margin: auto;
  font-size: 1.2em;
}

.editor-card-visual .sensuba-card {

  margin-bottom: 1em;
}

.editor-card-visual .editor-box {

  margin: 1em 20px 0 20px;
}

.half-section > input {

  width: 90%;
}

.editor-box .vintage-radio label {

  margin: 0 !important;
  font-size: 1em;
}