.sensuba-app {

  min-height: 100vh;
}

main {

	padding: 4em;
	text-align: center;
  position: relative;
}

main.dark-page {

  background: linear-gradient(169deg, #000000, #000000, #391f1f, #36391f, #1f391f, #1f3539, #291f39, #391f2e, #000000, #000000);
  background-size: 2000% 2000%;

  -webkit-animation: DarkBackgroundGradient 200s ease infinite;
  -moz-animation: DarkBackgroundGradient 200s ease infinite;
  animation: DarkBackgroundGradient 200s ease infinite;
}

@-webkit-keyframes DarkBackgroundGradient {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
@-moz-keyframes DarkBackgroundGradient {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
@keyframes DarkBackgroundGradient { 
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}

.invisible {

  display: none !important;
} 

.hidden {

  visibility: hidden !important;
} 

.editable {

  cursor: pointer;
}

.small-text {

  font-size: 0.7em;
}

.vintage-radio input {

  display: none;
}

.vintage-radio label {

  text-shadow: 0 0 4px #241f4a;
  margin: 0.2em;
  padding: 0.4em 2em;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: 2px solid transparent;
  -webkit-text-stroke-color: #241f4a;
  -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.03em;
    transition: all 0.2s;
}

.vintage-radio input:checked + label, .vintage-radio label:hover {

  color: white;
  background-color: #241f4a80;
  /*background: radial-gradient(#13121b, transparent, transparent);*/
}

.vintage-radio input:checked + label {

  border: 2px solid #241f4a;
}

main.dark-page .vintage-radio input:checked + label {

  background: radial-gradient(#baad9d, transparent, transparent);
}

button {

  outline: 0 !important;
}

.menu-button {

  background: linear-gradient(to bottom, #26272b, black);
  color: white;
  border-radius: 0 !important;
  font-size: 1.2em;
  padding: 0.5em 1em;
  font-family: Constantia, "Palatino Linotype", Palatino, Georgia, serif;
  transition: background 0.2s;
  font-variant: small-caps;
  cursor: pointer;
}

.menu-button:hover {

  background: linear-gradient(to bottom, #6f6f70, #39393a);
}

.menu-button + .menu-button {

  margin-left: 20px;
}

.red.menu-button {

  background: linear-gradient(to bottom, #900e1b, #3e1919)
}

.red.menu-button:hover {

  background: linear-gradient(to bottom, #a75e66, #5e4141);
}

.long-button {

  width: 100%;
  max-width: 40em;
  margin: auto;
}

.long-button:hover {

  animation: menu-button-shadow 1s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.long-button + .long-button {

  margin-top: 3em;
}

@keyframes menu-button-shadow {
    from {box-shadow: 0px 0px 0px 0px #ede176C0;}
    to {box-shadow: 0px 0px 35px 8px #ede176C0;}
}

.modern-sensuba-button {

  background-color: white !important;
  color: black !important;
  border: solid black 2px !important;
}

.modern-sensuba-button:hover {

  background-color: black !important;
  color: white !important;
}

.bottom-info {

  margin-top: 1em;
  padding-right: 10px;
  font-size: 0.9em;
  text-align: right;
}

.bottom-info span {
  
  opacity: 0.6;
  cursor: pointer;
}

.bottom-info span:hover {

  text-decoration: underline;
  opacity: 1;
}