/*.sensuba-end-turn {
    border: 0;
    line-height: 1.5;
    padding: 0.5em 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(213, 47, 10, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    width: 120px;
    margin: auto;
}

.sensuba-end-turn.sensuba-end-turn-locked {
    
    background-color: rgba(100, 100, 100, 1);
}

.sensuba-end-turn.sensuba-end-turn-active:hover {
    background-color: rgba(255, 60, 0, 1);
    cursor: pointer;
}

.sensuba-end-turn.sensuba-end-turn-active:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}*/

.sensuba-end-turn {
    border: 0;
    width: 120px;
    position: relative;
    margin: auto;
}

.sensuba-end-turn.sensuba-end-turn-locked {
    
}

.sensuba-end-turn.sensuba-end-turn-active:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.sensuba-end-turn-circle {

    padding: 0.5em 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    line-height: 1.5em;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: calc(50% - 60px);
    left: 0;
    background-color: #A0000000;
    transition: background-color 0.3s;
    pointer-events: all;
}

.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle {

    animation: end-turn-rotate 19.2s linear infinite;
}

@keyframes end-turn-rotate {

    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(360deg); }
}

.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover {

    cursor: pointer;
    /*background-color: #A00000E0;*/
}

.sensuba-end-turn-text {

    position: absolute;
    border: 0;
    line-height: 1.5;
    padding: 0.5em 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    width: 120px;
    margin: auto;
    margin-top: -1.5em;
    pointer-events: none;
}

.sensuba-end-turn-dot {

    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #80808080;
    margin-left: -3px;
    margin-top: -3px;
    transition: all 0.3s ease-out;
    animation: end-turn-dot 2.4s infinite;
}

.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle .sensuba-end-turn-dot {

    background-color: #A0000080;
    animation: none;
}

.sensuba-end-turn.sensuba-end-turn-active.sensuba-end-turn-extra .sensuba-end-turn-circle .sensuba-end-turn-dot {

    background-color: #0060A080;
}

/*.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover .sensuba-end-turn-dot {

    margin-left: 0;
    margin-top: 0;
    width: 0;
    height: 0;
}*/

#sensuba-end-turn-dot-0 { top: 0; left: 60px; animation-delay: 0; }
#sensuba-end-turn-dot-1 { top: 8px; left: 90px; animation-delay: 0.2s; }
#sensuba-end-turn-dot-2 { top: 30px; left: 112px; animation-delay: 0.4s; }
#sensuba-end-turn-dot-3 { top: 60px; left: 120px; animation-delay: 0.6s; }
#sensuba-end-turn-dot-4 { top: 90px; left: 112px; animation-delay: 0.8s; }
#sensuba-end-turn-dot-5 { top: 112px; left: 90px; animation-delay: 1s; }
#sensuba-end-turn-dot-6 { top: 120px; left: 60px; animation-delay: 1.2s; }
#sensuba-end-turn-dot-7 { top: 112px; left: 30px; animation-delay: 1.4s; }
#sensuba-end-turn-dot-8 { top: 90px; left: 8px; animation-delay: 1.6s; }
#sensuba-end-turn-dot-9 { top: 60px; left: 0; animation-delay: 1.8s; }
#sensuba-end-turn-dot-10 { top: 30px; left: 8px; animation-delay: 2s; }
#sensuba-end-turn-dot-11 { top: 8px; left: 30px; animation-delay: 2.2s; }

/*.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover #sensuba-end-turn-dot-0 { top: 30px; left: 60px; }
.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover #sensuba-end-turn-dot-1 { top: 34px; left: 75px; }
.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover #sensuba-end-turn-dot-2 { top: 45px; left: 86px; }
.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover #sensuba-end-turn-dot-3 { top: 60px; left: 90px; }
.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover #sensuba-end-turn-dot-4 { top: 75px; left: 86px; }
.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover #sensuba-end-turn-dot-5 { top: 86px; left: 75px; }
.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover #sensuba-end-turn-dot-6 { top: 90px; left: 60px; }
.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover #sensuba-end-turn-dot-7 { top: 86px; left: 45px; }
.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover #sensuba-end-turn-dot-8 { top: 75px; left: 34px; }
.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover #sensuba-end-turn-dot-9 { top: 60px; left: 30px; }
.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover #sensuba-end-turn-dot-10 { top: 45px; left: 34px; }
.sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover #sensuba-end-turn-dot-11 { top: 34px; left: 45px; }*/

@media only screen and (min-width: 768px) {

    .sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:hover .sensuba-end-turn-dot {

        top: 60px !important;
        left: 60px !important;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        margin-left: -12px;
    }
}

@keyframes end-turn-dot {

    0% {opacity: 1}
    80% {opacity: 1}
    90% {opacity: 0}
    100% {opacity: 1}
}



@media only screen and (max-width: 768px) {

    .sensuba-end-turn { width: 60px }

    .sensuba-end-turn-circle {

        padding: 0.5em 0px;
        width: 60px;
        height: 60px;
        top: calc(50% - 30px);
    }

    .sensuba-end-turn-text {

        padding: 0.5em 5px;
        width: 60px;
        margin-top: -2em;
        display: none;
    }

    .sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-text {

        display: block;
    }

    #sensuba-end-turn-dot-0 { top: 0; left: 30px; }
    #sensuba-end-turn-dot-1 { top: 4px; left: 45px; }
    #sensuba-end-turn-dot-2 { top: 15px; left: 56px; }
    #sensuba-end-turn-dot-3 { top: 30px; left: 60px; }
    #sensuba-end-turn-dot-4 { top: 45px; left: 56px; }
    #sensuba-end-turn-dot-5 { top: 56px; left: 45px; }
    #sensuba-end-turn-dot-6 { top: 60px; left: 30px; }
    #sensuba-end-turn-dot-7 { top: 56px; left: 15px; }
    #sensuba-end-turn-dot-8 { top: 45px; left: 4px; }
    #sensuba-end-turn-dot-9 { top: 30px; left: 0; }
    #sensuba-end-turn-dot-10 { top: 15px; left: 4px; }
    #sensuba-end-turn-dot-11 { top: 4px; left: 15px; }

    .sensuba-end-turn-dot {

        width: 4px;
        height: 4px;
        border-radius: 2px;
        margin-left: -2px;
        margin-top: -2px;
    }

    .sensuba-end-turn.sensuba-end-turn-active .sensuba-end-turn-circle:active .sensuba-end-turn-dot {

        top: 30px !important;
        left: 30px !important;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
    }
}