.history {

    position: absolute;
    top: 0;
    right: 0;
    padding: 1.3vw;
}

.history .history-entry {

    display: inline-block;
    height: 3vw;
    width: 3vw;
    margin: 0.4vw;
    border-radius: 4px;
    border-width: 3px;
    border-style: outset;
    overflow: hidden;
    pointer-events: all;
}

.history-entry.history-play { border-color: black }
.history-entry.history-trap { border-color: darkgray }
.history-entry.history-action { border-color: #d6cc3a }
.history-entry.history-skill { border-color: #00d1a4 }
.history-entry.history-attack { border-color: #c71606 }

.history .history-entry .history-entry-bg {

    height: 6vw;
    width: 4.5vw;
    margin-top: calc(-0.5vw - 3px);
    margin-left: calc(-0.825vw - 3px);
}