.sensuba-sound {

    position: absolute;
    top: 0;
    left: 0;
    height: 5vw;
    width: 5vw;
    overflow: hidden;
    transition: width 0.4s;
    z-index: 1001;
}

.sensuba-sound:hover {

    width: calc(14.125vw + 2em);
}

.mute-button {

    position: absolute;
    top: 0;
    left: 0;
    margin: 1.3vw;
    border-radius: 50%;
    height: 2.4vw;
    width: 2.4vw;
    border: 0.2vw solid black;
    background: url('../../images/game/sound.png');
    background-size: 100%;
    cursor: pointer;
}

.mute-button.muted {

    background: url('../../images/game/mute.png');
    background-size: 100%;
}

.sensuba-sound .sound-slider-case {

    position: relative;
    top: 1.35vw;
    left: 5vw;
}

.sensuba-sound .sensuba-slider {

    position: relative;
    top: 0;
    left: 1em;
}

.sensuba-sound .sound-slider-icon {

    position: relative;
    float: left;
    height: 1em;
    width: 1em;
}

#sfx-slider-icon {

    background: url('./sfx.png');
    background-size: 80%;
    background-repeat: no-repeat;
}

#music-slider-icon {

    background: url('./music.png');
    background-size: 80%;
    background-repeat: no-repeat;
}


@media only screen and (max-width: 768px) {

    .sensuba-sound {

        height: 7.4vw;
        width: 7.4vw;
    }

    .sensuba-sound:hover {

        width: 7.4vw;
    }

    .mute-button {

        height: 4.8vw;
        width: 4.8vw;
        border-width: 0.4vw;
        margin: 2.6vw;
    }

    .sensuba-sound .sensuba-slider-case {

        display: none;
    }
}