#room-page {

	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	min-height: calc(100vh - 5.05rem);
	overflow: hidden;
}
/*
#sensuba-scene {
	
    position: absolute;
	top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    margin: auto;
}*/

#sensuba-scene:focus {

	outline: 0;
}