.sensuba-card.sensuba-card-boost {

	animation: card-boost 0.8s 1;
}

@keyframes card-boost {
  0%   { box-shadow: 0 0 0 0 rgba(0, 207, 17, 0.5); }
  50% { box-shadow: 0 0 1.5em 0.5em rgba(0, 207, 17, 0.5); }
  100%   { box-shadow: 0 0 0 0 rgba(0, 207, 17, 0.5); }
}