.sensuba-card.sensuba-card-secret {

	animation: card-secret-color 0.6s 1, card-secret-opacity 0.4s 1;
}

@keyframes card-secret-color {
  0%   { filter: contrast(0) sepia(1) hue-rotate(100deg) brightness(2); box-shadow: 0 0 1em 1em #a8eeff; }
  100%   { filter: contrast(1) sepia(0) hue-rotate(0deg) brightness(1); box-shadow: 0 0 0 0 #a8eeff; }
}

@keyframes card-secret-opacity {
  0%   { opacity: 0; }
  100%   { opacity: 1; }
}