.sensuba-card-shuffle {

	visibility: visible !important;
    display: inline-block !important;
    margin-left: -4.0675vw;
}

.invisible.sensuba-card-shuffle {

	visibility: visible !important;
}

.sensuba-card-shuffle .sensuba-card {

	animation: card-shuffle 0.8s 1 ease-in-out;
}

@keyframes card-shuffle {

  from {transform: translateX(0.8em) translateY(-2.5em)}
  to {transform: translateX(0em) translateY(0em)}
}